body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background: rgb(255, 255, 255);
    width: 350px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}