.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.square{
  height: 70px;
  width: 70px;
}
.fontsize{
  font-size: 20px;
}
.color{
  color: green;
}
